body{
    margin: 0;
    padding: 0;
    background-color: rgb(55, 89, 199);
    font-family: sans-serif;
}
.loginBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    min-height: 200px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 30px 30px rgba(0,0,0,0.5);
}
.user
{
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
h3{
    margin: 0;
    padding: 0 0 20px;
    color: dodgerblue;
    text-align: center;
}
.loginBox input
{
    width: 270px;
    margin-bottom: 20px;
   
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
    border: none;
    outline: none;
    height: 40px;
    color: ghostwhite;
    border-bottom: 2px solid whitesmoke;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    
    box-sizing: border-box;
}
.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus{
    border-bottom: 2px solid red;
}
.inputbox
{
    position: relative;
}
.inputbox span{
    position: absolute;
    top: 10px;
    color: #262626;
}
.loginBox a{
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
}
.loginBox input[type='submit']
{border: none;
outline: none;
height: 40px;
font-size: 16px;
background: #ed292a;
color: #fff;
border-radius: 20px;
cursor: pointer;}
